
annotation/kofamscan
annotation/secretome/LED/*
gff3
*tar.gz
*archive*
*cytoscape*
*.DS_Store
*bigscape_input
*final.embl
*geneclusters.xls
*zip
*css
*geneclusters.js
*geneclusters.txt
*images
*index.html
*js
knownclusterblast
*knownclusterblastoutput.txt
*nrpspks_predictions_txt
*smcogs
*structures
*subclusterblast
*subclusterblastoutput.txt
antismash*
.DS_Store
.Rproj.user
jellyfish
*bigscape_output
Rplots.pdf
annotation/fastortho/proteins/
annotation/fastortho/test/
*~*
.Rhistory
timetree
